@charset "utf-8";
.image{
	width: 160px; 
	height: 160px;
	float: left;
}
.content{
	width: 770px; 
	height: 110px;
	float: right;
	margin-top: 15px;
	margin-right: 80px
}
.introduce{
	margin-left: 25px;
	padding-top: 15px;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: rgba(25, 100, 100, 0.1);
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: rgba(50, 100, 100, 0.2);
}
